
body{
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #333;
}

img{
    width: 90%;
}

.game__box{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 25px;
    padding: 25px;
    width: 90%;
    margin-top: 20px;
    background-color: #444;
    box-shadow: inset 0px 0px 10px 0px #000;
}

@media (max-width: 1785px) {
    .game__box{
      grid-template-columns: repeat(6, 1fr);
    }
  }

  


.card{
    margin: 0 auto;
    position: relative;
    width: 150px;
    height: 200px;
    border-radius: 2px;
    border: 2px solid #000;
    transform-style: preserve-3d;
    box-shadow: 0px 5px 12px -5px #000;
}
.card .face{
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.showCard{
    transform: rotateY(180deg);
    animation-name: showCard;
    animation-duration: .5s;
}

@keyframes showCard {
    from {
        transform: rotateY(0deg);
    }
  
    to {
        transform: rotateY(180deg);
    }
}

.hideCard{
    transform: rotateY(0deg);
    animation-name: hideCard;
    animation-duration: 1.5s;
}

@keyframes hideCard {
    0% {
        transform: rotateY(180deg);
    }
  
    35% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}


.card .face.front{
    color: white;
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    background: linear-gradient(0deg, rgb(255, 113, 113) 65%, rgba(255,0, 0 ,1) 65%);
}

.card .face.front::after{
    content: '';
    position: absolute;
    top: 64px;
    display: block;
    width: 180px;
    height: 90px;
    border-radius: 0 0 180px 180px;
    border: 3px solid #000;
    border-top: 6px solid #000;
    background: linear-gradient(220deg, rgba(255,255,255) 30%, rgb(151, 151, 151) 82%);
    box-shadow: 0px 5px 11px -5px #000;
}
.card .face.front::before{
    content: '';
    position: absolute;
    top: 34px;
    z-index: 2;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #000;
    background: radial-gradient(circle, rgba(0,0,0,1) 30%, rgba(255,255,255,1) 30%);
}

.card .face.back{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: white;
    transform: rotateY(180deg);
}

@media (max-width: 1190px) {
    .card{
      width: 100px;
      height: 133.33px;
    }
    .card .face.front::after{
        top: 42.66px;
        width: 120px;
        height: 60px;
        border-radius: 0 0 120px 120px
    }
    .card .face.front::before{
        top: 22.66px;
        width: 40px;
        height: 40px;
    }
  }

  @media (max-width: 850px) {
    .game__box{
      grid-template-columns: repeat(3, 1fr);
    }
    .card{
        width: 150px;
        height: 200px;
      }
      .card .face.front::after{
          top: 64px;
          width: 180px;
          height: 90px;
          border-radius: 0 0 180px 180px
      }
      .card .face.front::before{
          top: 34px;
          width: 60px;
          height: 60px;
      }
  }

  @media (max-width: 585px) {
    .card{
        width: 100px;
        height: 133.33px;
      }
      .card .face.front::after{
          top: 42.66px;
          width: 120px;
          height: 60px;
          border-radius: 0 0 120px 120px
      }
      .card .face.front::before{
          top: 22.66px;
          width: 40px;
          height: 40px;
      }
  }

  .buttons__box{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.play__btn{
    cursor: pointer;
}

.player__name{

}
