body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}
.game__box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #333;
}
.card{
    position: relative;
    width: 70px;
    height: 95px;
    margin: 20px;
    transform-style: preserve-3d;
}
.card .face{
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.showCard{
    transform: rotateY(180deg);
    animation-name: showCard;
    animation-duration: .5s;
}

@keyframes showCard {
    from {
        transform: rotateY(0deg);
    }
  
    to {
        transform: rotateY(180deg);
    }
}

.hideCard{
    transform: rotateY(0deg);
    animation-name: hideCard;
    animation-duration: 1.5s;
}

@keyframes hideCard {
    0% {
        transform: rotateY(180deg);
    }
  
    35% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}


.card .face.front{
    color: white;
    background-color: rgb(255, 81, 81);
}
.card .face.back{
    background-color: rgb(126, 126, 255);
    color: white;
    transform: rotateY(180deg);
}